<% include ../header %>
  <div class='content' id='login'>
    <h2>
      <%= title %>
    </h2>
    <form method='post'>
      <label class='user-login'>
        <input type='text' placeholder='Usuário' />
        <i class='fa fa-user'></i>
      </label>
      <label class='user-password'>
        <input type='password' placeholder='Senha' />
        <i class='fa fa-key'></i>
      </label>
      <input type='submit' value='Fazer login' />
    </form>
  </div>
<% include ../footer %>