<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
    <% if (title !== 'SmartVendas') { %> | SmartVendas <% } %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' />
  <script type='text/javascript' src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
</head>

<body>
  <div id='header'>
    <a id='logo' href='/'>
      <i class="fa fa-shopping-bag"></i>
      <span>SmartVendas</span>
    </a>
    <div id='user'>
      <% if (session.user) { %>
        <div class='user-logged-in'>
          <div id='popup-parent'>
            <div class='user-name'><%= session.user.name %></div>
            <img class='user-picture' src="<%= session.user.photo_url || '/images/default-user.png' %>" />
          </div>
          <div id="popup-content">
            <% if (session.user.type == 'ADM') { %>
              <a href='/admin'>Painel</a>
            <% } %>
            <a href='/user/edit'>Perfil</a>
            <a href='/user/logout' style='font-size: 10px;'>Sair</a>
          </div>
        </div>
      <% } else { %>
        <div class='user-menu'>
          <a href='/user/register'>Cadastro</a>
        </div>
        <div class='user-menu'>
          <a href='/user/login'>Login</a>
        </div>
      <% } %>
    </div>
  </div>
  <div id='main-menu'>
    <div>
      <a href='/'>Início</a>
    </div>
    <div>
      <a href='/sale'>Promoções</a>
    </div>
    <div>
      <a href='/products'>Produtos</a>
    </div>
    <div>
      Lista de desejos
    </div>
  </div>