<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
    <% if (title !== 'SmartVendas') { %> | SmartVendas <% } %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' />
  <script type='text/javascript' src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
  <script type='text/javascript' src='/javascripts/script.js'></script>
</head>

<body>
  <div id='header'>
    <div id='logo'>
      <i class="fa fa-shopping-bag"></i>
      <span>SmartVendas</span>
    </div>
    <div id='user'>
      <% if (false) { %>
        <div class='user-logged-in'>
          <img class='user-picture' src='https://erickkelvin.github.io/img/erick_profile.jpg' />
          <div class='user-name'>Erick Kelvin</div>
        </div>
      <% } else { %>
        <div class='user-menu'>
          <a href='/register'>Cadastro</a>
        </div>
        <div class='user-menu'>
          <a href='/login'>Login</a>
        </div>
      <% } %>
    </div>
  </div>
  <div id='main-menu'>
    <div>
      Início
    </div>
    <div>
      Produtos
    </div>
    <div>
      Sei lá
    </div>
  </div>