<% include header %>
  <div class='content' id='index'>
    <% products.forEach(function(product){ %>
      <div class='product-box'>
        <img class='product-img' src="<%= product.photo_url || '/images/default-product.png' %>">
        <div class='product-title'><%= product.name %></div>
        <div class='product-price'>R$ <%= product.price %></div>
        <div class='product-price-alt'>10x de <%= (product.price / 10).toFixed(2) %> sem juros</div>
      </div>
    <% }); %>
  </div>
<% include footer %>