<% include ../header %>
  <div class='content' id='admin-index'>
    <h1>
      <%= title %>
    </h1>
    <a href='/admin/users'><i class='fa fa-users'></i> Usuários</a>
    <a href='/admin/products'><i class='fa fa-archive'></i> Produtos</a>
    <a href='/admin/logs'><i class='fa fa-list-alt'></i> Logs</a>
  </div>
<% include ../footer %>