<% include header %>
  <div class='content' id='checkout'>
    <h1 style="color:green;">
      <i class="fa fa-check-circle"></i> <%= title %>
    </h1>
    <br>
    <a href="/"><i class="fa fa-home"></i> Ir para a página inicial</a>
  </div>
<% include footer %>